<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="com.github.mkorman9.test" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.home}/logs/spring_rest_service.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>[%p][%d{yyyy-MM-dd HH:mm:ss.SSS}][%c] %msg%n</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${catalina.home}/logs/spring_rest_service.%i.log</fileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>20</MaxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>15MB</MaxFileSize>
        </triggeringPolicy>

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
    </appender>

    <logger name="org.springframework" level="ERROR" />
    <logger name="org.hibernate" level="ERROR" />

    <root level="ALL">
        <appender-ref ref="com.github.mkorman9.test" />
    </root>

</configuration>
