<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="com.github.mkorman9.test" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>[%p][%d{yyyy-MM-dd HH:mm:ss.SSS}][%c] %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="ERROR" />
    <logger name="org.hibernate" level="ERROR" />

    <root level="ALL">
        <appender-ref ref="com.github.mkorman9.test" />
    </root>

</configuration>
